$primary: #1976d2;
$secondary: #26a69a;
$accent: #9C27b0;

$label-light: #ffffff;
$header-light: #1976d2;

$label-dark: #e7e7e7;
$header-dark: #7b36ff;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #v10015;
$info: #31ccec;
$warning: #f2c037;
